.footer_wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    to top,
    var(--start-gradient-color) 0%,
    var(--middle-gradient-color) 50%,
    var(--end-gradient-color) 100%
  );
  height: 64px;
  height: 64px;
  p {
    margin-left: 16px;
  }
}
