.header_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--start-gradient-color) 0%,
    var(--middle-gradient-color) 50%,
    var(--end-gradient-color) 100%
  );
  height: 64px;
}

.logo_wrapper {
  margin-left: 16px;
  justify-content: flex-end;
  color: var(--secondary-text-color);
  font-size: 20px;
}
