.content_wrapper {
  padding: 8px;
  width: calc(100vw - 50px);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 1rem;
  margin-bottom: 5px;
}

.product-card p:last-child {
  margin-bottom: 0;
}
