.content_wrapper {
  border: 1px solid red;
  // flex-grow: 1; /* Це дозволяє main-content зайняти весь доступний простір */
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}
