.main_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_content {
  width: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 16px;
}

.header {
  width: 100%;
}

.footer {
  width: 100%;
}
